name: Resuable | GitHub Release

on:
  workflow_call:
    inputs:
      next_version:
        type: string
        required: true
      changelog:
        type: string
        required: true

jobs:
  github_release:
    name: Release GitHub
    runs-on: ubuntu-latest
    steps:
      -
        name: Artifact - Download Slimefun Resourcepack
        uses: actions/download-artifact@v5
        with:
          path: workdir
          merge-multiple: true
      -
        name: Name - Fix naming
        run: |
          mv workdir/pack.zip Slimefun-ResourcePack.zip
          mv workdir/*.zip .
          ls -alh
      -
        name: GitHub - Update Release
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          tag: ${{ inputs.next_version }}
          name: ${{ inputs.next_version }}
          body: ${{ inputs.changelog }}
          artifacts: |
            Slimefun-ResourcePack.zip
            item-models.zip
            ia-addons.zip
